{% extends "theme.html" %}

{% block title %}
Plasma Donation Drive
{% endblock %}

{% block body %}
		<div id="body">
			<div>
				<h1>About</h1><br>
                <br>
                <h2>Rotary Challa Blood Bank</h2>
<p>Rotary Club of Hyderabad Deccan is a part of the Rotary International which has over 1.2 million
volunteers with 31,000 Rotary clubs in over 167 Countries. It has been running various initiatives in
conjunction with the Telangana Government, to help fight the COVID-19 pandemic. These initiatives
included identifying and distributing food to migrant workers, with the help of the GHMC, distributing PPEs
amongst vulnerable groups and launching a blood donation and collecting drive for underprivileged
children affected by Thalassemia.</p>
                <h2>Mobile Blood Donation</h2>
                <p>The Mobile Blood Donation Van was launched by the club in 2018 to serve as a mobile blood donation
center and is equipped with everything necessary for blood donation procedures like collection
equipment, donor beds and short-term storage solutions. The Rotary Challa Blood Bank is a service
oriented venture of Rotary Club of Hyderabad Deccan,to provide free services to underprivileged children
affected by Thalassemia. The upgrade includes the addition of critical equipment for collecting, storing
and processing blood, as well as refurbishment of the Blood Bank premises.</p>
			</div>
		</div>
{% endblock %}