{% extends "theme.html" %}

{% block title %}
Plasma Donation Drive
{% endblock %}

{% block body %}
		<div id="body">
			<div>
				<h1>FAQ</h1>
				<ul>
					<li>
						<div>
							<h1>Are there any risks to my health?</h1>
							<p>People donate plasma every day. Your plasma will be collected by trained medical
professionals, in a sterile environment. Donating plasma is a safe process. Most healthy adults
can donate blood and plasma with no side effects. Some people may have minor side effects like
dehydration, fatigue or dizziness. We will screen the Donors to collecting plasma to make sure
they are good candidates.</p>
						</div>
					</li>
					<li>
						<div>
							<h1>What is involved in plasma donation?</h1>
							<p>To donate plasma for use in COVID-19 patients, you must have been sick with COVID-19
and completely recovered. You should have been free of symptoms for two weeks.</p>
						</div>
					</li>
					<li>
						<div>
							<h1>What is Plasma and why is it collected?</h1>
							<p>Plasma is the clear liquid portion of blood that remains after blood cells, platelets, and
other cellular components are removed. It contains water, salts, antibodies, and other proteins.
It is collected from healthy, voluntary donors through a process called plasmapheresis. Plasma is
regularly collected to produce therapies to treat people with many types of disorders, including
immunodeficiency, hemophilia and trauma, such as burns or shock.</p>
						</div>
					</li>
					<li>
						<div>
							<h1>Which patients are eligible to receive convalescent plasma?</h1>
							<p>They are 18+ years of age<br>
- They have laboratory-confirmed diagnosis of infection with severe acute respiratory syndrome
coronavirus 2 (SARS-CoV-2), the virus that causes COVID-19.<br>
- They are admitted to an acute care facility for the treatment of COVID-19 complications.<br>
- They have severe or life-threatening COVID-19, or judged by the treating doctor to be at high
risk of progression to severe or life-threatening disease<br>
- There is an informed consent provided by the patient or the health care proxy.</p>
						</div>
					</li>
                    <li>
						<div>
							<h1>What is severe COVID-19?</h1>
							<p>Shortness of breath (dyspnea)<br>
- Respiratory frequency ≥ 30/min<br>
- Blood oxygen saturation ≤ 93%<br>
- Partial pressure of arterial oxygen to fraction of inspired oxygen ratio &lt;300<br>
- Lung infiltrates &gt; 50% within 24 to 48 hours</p>
						</div>
					</li>
                    <li>
						<div>
							<h1>What is life-threatening COVID-19?</h1>
							<p>Respiratory failure<br>
- Septic shock<br>
- Multiple organ dysfunction or failure</p>
						</div>
					</li>
                    <li>
						<div>
							<h1>Who can donate convalescent plasma?</h1>
							<p>Plasma donors should be at least 18 years old, but less than 65 years old.<br>
- Plasma donors should have tested positive for COVID 19<br>
- Plasma donors should have recovered from symptoms of COVID like fever, cough, cold,
breathing difficulties at least 14 days prior to donating their plasma..<br>
- Plasma donors should test non-reactive for transmissible viruses including HIV and Hepatitis<br>
- Plasma donors should test negative for endemic infectious diseases like Tuberculosis or
Malaria<br>
- Plasma donors should not have ever been pregnant.<br>
- Individuals must have had a prior diagnosis of COVID-19 documented by a laboratory test and
meet other donor criteria.<br>
- A negative lab test for active COVID-19 disease is not necessary to qualify for donation.</p>
						</div>
					</li>
                    <li>
						<div>
							<h1>What type of medical screening and testing is done?</h1>
							<p>You must have a pre-donation medical examination which includes answering medical
history questions, tests for viruses such as HIV and Hepatitis and evaluating your hemoglobin
levels.</p>
						</div>
					</li>
                    <li>
						<div>
							<h1>Is plasma donation painful?</h1>
							<p>Most people compare the feeling of the needle to a mild bee sting or pinprick.</p>
						</div>
					</li>
                    <li>
						<div>
							<h1>How long does it take to donate plasma?</h1>
							<p>The process usually takes around 30- 45 minutes.</p>
						</div>
					</li>
                    <li>
						<div>
							<h1>How much plasma do I have to donate?</h1>
							<p>You can donate up to 500 ml (1 pint) of plasma</p>
						</div>
					</li>
                    <li>
						<div>
							<h1>How much plasma does each patient need?</h1>
							<p>Each patient requires 200 ml of plasma.</p>
						</div>
					</li>
                    <li>
						<div>
							<h1>For how long should one abstain from alcohol before donating plasma?</h1>
							<p>It’s advised to refrain from alcohol consumption 24-48 hours before plasma donation.</p>
						</div>
					</li>
                    <li>
						<div>
							<h1>Why can’t women who have been pregnant donate plasma?</h1>
							<p>A baby contains genetic material from both the mother and the father. So, when a
woman gets pregnant, she develops antibodies against the father’s genetic material [human
leukocyte antigen]. This HLA antibody can lead to a transfusion related complication called
Transfusion related acute lung injury (TRALI). Covid-19 patients already have compromised
lungs, plasma with HLA antibody might increase their chances of lung damage.</p>
						</div>
					</li>
				</ul>
			</div>
		</div>

{% endblock %}