{% extends "theme.html" %}

{% block title %}
Plasma Donation Drive
{% endblock %}

{% block body %}
<div id="body" class="home">
			<div class="header">
				<div>
					<h1>Donate<br>COVID-19 Plasma Required</h1>
                    <span><a href="/contact" class="email">Contact Us</a></span>
					<img src="images/runner.png" alt="">
				</div>
			</div>
			<div class="body">
				<div>
					<h1>WINNING</h1>
					<p>What’s more, they’re absolutely free! You can do a lot with them. You can modify them.</p>
					<a href="blog.html" class="more">Read More</a>
				</div>
			</div>

        </div>


{% endblock %}