{% extends "theme.html" %}

{% block title %}
Plasma Donation Drive
{% endblock %}

{% block body %}
		<div id="body" class="running">
			<div>
                <h1>Donating Plasma in 4 easy steps</h1><br>
                <ul class="gallery">
					<li>
                        <a href="/home"><img src="{{ url_for('static', filename='images/donate1.jpeg') }}" alt=""></a>
					</li>
                    <li>
                        <a href="/home"><img src="{{ url_for('static', filename='images/donate2.jpeg') }}" alt=""></a>
					</li>
					<li>
                        <a href="/home"><img src="{{ url_for('static', filename='images/donate3.jpeg') }}" alt=""></a>
					</li>
					<li>
                        <a href="/home"><img src="{{ url_for('static', filename='images/donate4.jpeg') }}" alt=""></a>
					</li>
				</ul>
                <h3><span>
                    <a href="/faq"><img src="{{ url_for('static', filename='images/donation-steps.png') }}" alt=""></a>
                </span></h3>
                <p>
                    ● As a donor, you will have to register on the google form<br>
                    ● You will be contacted by the local medical team to see if you are still interested in donating
                    plasma and explain the precautions and risks in detail.<br>
                    ● You will be required to show the positive COVID-19 laboratory test result and if possible, a follow
                    up test that is negative. Also you must have been symptom free for 14 days.<br>
                    ● The Rotary Challa blood bank van has standard disinfection and sanitization process in place for
                    your safety purposes and will be at your place as per agreed convenient time from ______. <br>
                    ● A blood test will be done to screen you for safe plasma donation.<br>
                    ● The collected blood will be transported to the blood bank. Your plasma is now ready to save a life!
                </p>
			</div>
        </div>
    <div>

    </div>

{% endblock %}